node_modules/
go
static/integration/stylesheets/chhaang.css
static/integration/stylesheets/drpublish/plugin.css
static/integration/stylesheets/feide/feide.css
newrelic_agent.log

**/*.js
**/*.map
**/*.d.ts
!static/integration/drpublish
