doctype html
html(lang='en')
head
  meta(charset='utf-8')
  title #{title} DrPublish Plugin Loading...
  script(src='js/vendors/jquery.min.js')
  script(src='js/vendors/jquery.postmessage.js')
  script(src='js/aptoma/Listeners.js')
  script(src='js/aptoma/PluginAPI.js')
  script(src='js/aptoma/AH5Communicator.js')
  script(src='js/index.js')
body
  h2#title Loading...
