doctype html
head
  meta(charset='utf-8')
  title #{title} DrPublish integration test
  link(rel='stylesheet', href='/integration/stylesheets/drpublish/plugin.css')
  link(rel="stylesheet", href="/integration/res/font-awesome/css/font-awesome.min.css")
  script(src='js/vendors/jquery.min.js')
  script(src='js/vendors/jquery.postmessage.js')
  script(src='js/aptoma/Listeners.js')
  script(src='js/aptoma/AppAPI.js')
  script(src='js/aptoma/AH5Communicator.js')
  script(src='js/aptoma/ArticleCommunicator.js')
  script.
    var STATIC_BACKGROUND = '#{DrPublish.background}';
  script(src='js/plugin.js')

body
  .searchRow
    img(src='res/briklogo.png')
    span.label search
    .searchInputSizer
      input#searchInput(type='text', placeholder='title, tag, or description')
      .icon-search
  div#videoSelected(style='display: none;')
    .title Video Title
    .buttons
      .label Width
      input#widthInput(type='number', value='#{DrPublish.width}')
      .label Height
      input#heightInput(type='number', value='#{DrPublish.height}')
      a#insertButton(href='#')
        .icon.icon-circle-arrow-left
        | Insert
    .video
  div#searchResults

  script(type="text/javascript", src="//use.typekit.net/xds4wqv.js")
  script(type="text/javascript").
    try{Typekit.load();}catch(e){}
