@import 'nib'

$green = #94b73e
$grey = #2b3741
$white = #fafafa
$black = #000000
$red = #7a1214

global-reset()

body
  margin 0
  padding 0
  font-size 20px
  font-family "Proxima Nova", proxima-nova
  background $white
  color $black

h1
  font-size 40px

.header
  background $grey
  color $green

.username
.error
  display inline
  font-family monospace
  color $grey

.segment
  margin-bottom 2em

.segment-inner
  max-width 600px
  margin auto

.footer
  font-size 12px
  color $grey

.error
  font-size 0.8em
  color $red
