doctype html

title #{title} integration
link(rel="stylesheet", href="/stylesheets/chhaang.css")

h1 #{title} integration interface operational

p Subsystems:
ul
  li(class=DrPublish ? enabled : disabled) DrPublish
