@import 'nib'

$green_txt = #34d040
$red_txt = #d04034
$back = #010c03
$enabled = lighten($green_txt, 30)
$disabled = lighten($red_txt, 10)

a
  color $green_txt

@font-face
  font-family EditUndoLine
  src url("/integration/fonts/edunline.ttf")

@keyframes scanline
  0%
    top -10px
  100%
    top 1200px

@keyframes scanline-wobble
  0%
    opacity 0.04
  100%
    opacity 0.05

@keyframes badscreen
  0%, 28%, 55%, 68%, 76.5%, 100%
    opacity 0
  30%
    opacity 0.2
  75.5%
    opacity 0.3
  76%
    opacity 0.7

.effects
  pointer-events none

.badscreen, .scanline
  position fixed
  left 0
  right 0

.scanline
  top -10px
  animation-name scanline
  animation-iteration-count infinite
  animation-duration 10s
  animation-timing-function linear

.scanline-wobble
  opacity 0.1
  height 10px
  background linear-gradient(top, black, white, black)
  animation-name scanline-wobble
  animation-iteration-count infinite
  animation-duration 0.4s
  animation-direction alternate
  animation-timing-function ease-in-out

.badscreen
  top 0
  bottom 0
  background $back
  opacity 0
  animation-name badscreen
  animation-iteration-count infinite
  animation-duration 15s
  animation-timing-function linear

body
  background $back
  font-family EditUndoLine
  font-size 20px
  color $green_txt

h1
  font-weight normal
  font-size: 30px

h2
  font-weight normal
  font-size: 20px
  margin-bottom: 0

ul
  margin-top: 0

.disabled:after
  color $disabled
  content " disabled"

.enabled:after
  color $enabled
  content " enabled"
