doctype html
html(lang='en')
head
  meta(charset='utf-8')
  title #{title} Open ID authentication module active.
body
  h2 Endpoints:
  ul
    li
      a(href='/integration/open-id/login') login
    li
      a(href='/integration/open-id/logout') logout
    li
      a(href='/integration/open-id/profile') view profile
