doctype html
html(lang='en')
head
  meta(charset='utf-8')
  title #{title} Feide/SAML2 authentiction module active.
body
  h2 Endpoints:
  ul
    li
      a(href='login') login
    li
      a(href='logout') logout
    li
      a(href='profile') view profile
