doctype html
html(lang='en')
head
  meta(charset='utf-8')
  title #{title} Feide/SAML2 authentiction module active.
body
  h2 Endpoints:
  ul
    li
      a(href='/integration/feide/login') login
    li
      a(href='/integration/feide/logout') logout
    li
      a(href='/integration/feide/profile') view profile
