@import 'nib'

$green = #94b73e
$grey = #2b3741
$white = #fafafa
$black = #000000

global-reset()

body
  margin 0
  padding 0
  background $grey
  font-family "Proxima Nova", proxima-nova

.searchRow
  height 30px
  font-size 24px
  font-weight bold
  background $white
  color $grey
  padding 2px 5px 2px 5px
  position relative
  border-bottom 1px solid $grey
  img
    position absolute
    top 6px
  .label
    position absolute
    left 78px
    line-height initial
  .searchInputSizer
    position absolute
    margin 0
    top 0
    left 160px
    right 0
    bottom 0
    overflow hidden
    border-left 1px solid $grey
    .icon-search
      opacity 0.3
      position absolute
      right 3px
      top 2px
      z-index 2
      text-align center
      mouse-events none
      user-select none
      font-size 28px
    input
      border 0
      width 100%
      padding-left 3px
      font-size 20px
      position absolute
      margin 0
      top 0
      left 0
      right 0
      bottom 0

#searchResults
  padding 1px
  color $white

.nextPageButton, .thumbnail
  background $green
  display inline-block
  margin 2px
  width 156px
  cursor pointer
  vertical-align top
  color $black

.nextPageButton
  font-size 30px
  text-align center
  padding-top 40px
  height 80px

.thumbnail
  height 120px
  position relative
  .poster
    overflow hidden
    height 100px
    img
      width 100%
      float left
  .title
    position absolute
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    margin auto
    left 4px
    bottom 4px
    right 4px

#insertButton
  display block
  text-decoration initial
  color $white
  background $grey
  padding 14px
  width 74px
  position absolute
  bottom 2px
  left 2px
  font-size 20px
  .icon
    padding-right 5px

#insertButton:hover
  background lighten($grey, 20)

.thumbnail:hover, .nextPageButton:hover
    background lighten($green, 20)

.thumbnail.selected
  margin 0
  border 2px solid $white

#videoSelected
  padding 3px
  height 200px
  background $green
  position relative
  border-bottom 1px solid $grey
  .title
    width 100%
    font-size 30px
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    margin auto
  .buttons
    width 100px
    input
      width 100%
      border 1px
      font-size 14px
    input
      margin-bottom 10px
  .video
    position absolute
    left 106px
    top 35px
    right 2px
    bottom 2px
