@import 'nib'

$green = #94b73e
$grey = #2b3741
$white = #fafafa
$black = #000000

global-reset()

body
  margin 0
  padding 0
  font-family "Proxima Nova", proxima-nova

.searchRow
  margin-top 1px
  margin-bottom 1px
  height 30px
  font-size 24px
  background $white
  position relative
  img
    position absolute
    top 5px
    right 0
  .label
    color $grey
    position absolute
    right 75px
    top 9px
    font-size 14px
    line-height initial
  .icon-search
    color $white
    background $green
    padding 3px
    display inline-block
    height 24px
    text-align center
    font-size 25px
    cursor pointer
    margin-left 1px
  .searchInputSizer
    position absolute
    margin 0
    top 0
    left 31px
    right 153px
    bottom 0
    overflow hidden
    min-width 100px
    border 1px solid $grey
    input
      z-index 1
      border 0
      width 100%
      padding-left 5px
      font-size 14px
      position absolute
      margin 0
      top 0
      left 0
      right 0
      bottom 0

#searchResults
  padding 1px
  color $white

.paginationButton, .result-element
  cursor pointer
  vertical-align top
  color $black

.result-element
  color $black
  font-size 15px
  padding 5px 0
  margin 2px 2px 10px 2px
  height 84px
  overflow hidden
  .poster
    float left
    overflow hidden
    width 150px
    margin-right 5px
    img
      width 100%
  .by-uploaded
    .label
      margin-right 5px
    position relative
    .age
      position absolute
      right 5px
    margin-bottom 5px
  .description
    overflow hidden
    height 47px
  .title
    font-weight bold
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    margin-bottom 3px

.result-element.selected
  background darken($white, 10)

.result-element:hover
    background darken($white, 20)

.paginationButton
  background $grey
  color $white
  text-align center
  display block
  padding 5px
  margin 2px

.paginationButton:hover
  background lighten($grey, 20)

.thumbnail.selected
  margin 0
  border 2px solid $white

#videoSelected
  padding 10px 3px 10px 3px
  background darken($white, 10)
  position relative
  margin-bottom 5px
  *
    text-overflow ellipsis
    overflow hidden
  .title
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    width 100%
    font-size 24px
    white-space nowrap
    overflow hidden
    margin auto
  .video
    margin-bottom 15px
  .buttons
    #insertButton
      text-decoration initial
      color $white
      background $grey
      padding 0 10px
      width 120px
      font-size 20px
      height 40px
      line-height 40px
      display inline-block
      .icon
        padding-right 5px
    #insertButton.disabled
      background darken($grey, 50)
      color darken($white, 50)
      cursor not-allowed
    #insertButton:hover
      background lighten($grey, 20)
    .label, #insertButton, input
      margin-right 5px
    input[type=number]
      width 60px
      border 1px
      font-size 14px
    input[type=checkbox]
      vertical-align text-bottom
  .parameters
    display inline-block
    line-height 1em
