@import 'nib'

$back = #000
$text = #484

body
  background $back
  color $text
  font-family "Proxima Nova", proxima-nova

#searchResults
  line-height 0

.thumbnail
  line-height 1em
  background lighten($back, 20)
  color lighten($text, 20)
  display inline-block
  position relative
  padding 2px
  margin 2px
  width 140px
  height 140px
  img
    width 100%
    float left
  .title
    position absolute
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    margin auto
    left 4px
    bottom 4px
    right 4px

.thumbnail:hover
    background lighten($back, 40)
